doctype html
html(lang="en")
  head
    title Protocol Analyzer
    link(href='/assets/main.css', rel='stylesheet')
  body
    .configuration.window.require-socket
      .titlebar
        .title Configuration
        .roll.up
      .content
        include ./mode_selection.jade
        include ./serial_options.jade
        include ./probe_selection.jade
    script(src='/assets/bundle.js')
