doctype html
html(lang="en")
  head
    title Protocol Analyzer
    link(href='/assets/style.css', rel='stylesheet')
  body
    #disconnected Disconnected from backend
    .main#connected(style='display:none;')
      .configuration.window
        .rollbtn.up
        h1 Configuration
        h2 Hardware Mode
        include ./mode_selection.jade
        h2 Serial Settings
        include ./serial_options.jade
        h2 Active Probes
        include ./probe_selection.jade
    script(src='/assets/bundle.js')
