doctype html
html(lang="en")
  head
    title Protocol Analyzer
    link(href='/assets/style.css', rel='stylesheet')
  body
    #disconnected Disconnected from backend
    #connected
      h1 Serial Port Options
      include ./serial_options.jade
      h1 Probe Selection
      include ./probe_selection.jade
    div#workspace
    script(src='/assets/bundle.js')
