doctype html
html(lang="en")
  head
    title Protocol Analyzer
    link(href='/assets/style.css', rel='stylesheet')
  body
    #disconnected Disconnected from backend
    #connected
      include ./connected.jade
    script(src='/assets/bundle.js')
