h2 Port Configuration
div.mitm-port
  label
    | Upstream (Computer) Port: 
    select("data-direction"="upstream")
      option(value='') Select a Port
      each val, key in probes
        option(selected=(val.isOpen && val.direction === "upstream") value=key)= key
div.mitm-port
  label
    | Downstream (Device) Port: 
    select("data-direction"="downstream")
      option(value='') Select a Port
      each val, key in probes
        option(selected=(val.isOpen && val.direction === "downstream") value=key)= key

div
  textarea.mitm-script(style="width:100%; height:200px; font-size: 12pt; font-family: monospace;")
    = options.script

button(value="run") Run
