div
  label
    input(type="radio" name="mode" checked=true value='sniffer')
    |Sniffer mode. Use two serial ports to tap data lines of an independent serial connection.
div
  label
    input(type="radio" name="mode" checked=false value='mitm' disabled)
    | MITM mode. Use two serial ports to man-in-the-middle an independent serial connection. <em>(wip)</em>
