section.mode-selection
  h2 Hardware Mode
  label
    input(type="radio" name="mode" checked=(options.mode==='sniffer') value='sniffer')
    |Sniffer mode. Use two serial ports to tap data lines of an independent serial connection.
  br
  label
    input(type="radio" name="mode" checked=(options.mode==='mitm') value='mitm')
    | MITM mode. Use two serial ports to man-in-the-middle an independent serial connection.
