div#ports
  each val, key in probes
    div.probe
      label
        input.active(type="checkbox" checked=val.isOpen value=key)
        = key
      input.alias(data-name=key type="text" placeholder="alias") 
