h2 Baud Rate
input#baudrate(type="text" value="9600")
label Should be one of: 115200, 57600, 38400, 19200, 9600, 4800, 2400, 1800, 1200, 600, 300, 200, 150, 134, 110, 75, or 50. Custom rates as allowed by hardware is supported.

//h3 Data Bits
//input#databits(
// and so on as documented here https://github.com/voodootikigod/node-serialport#to-use
