label
  | Baud rate 
  select#baudrate
    each baudrate in baudrates
      option(value=baudrate selected=options.baudrate===baudrate)= baudrate

// and so on as documented here https://github.com/voodootikigod/node-serialport#to-use
