.window {
  background-color: #111;
  border: 2px solid #222;
}
.window .content { padding: 4px; }
.window .titlebar {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(23, 104, 163) /* cyanish */;
  padding: 5px;
}
.window .titlebar .title {
  display: inline;
  opacity: 0.8;
}
.window .titlebar:hover .title { opacity: 1.0; }
.window .titlebar:hover .rollbtn { opacity: 0.8; }
.window .roll.up { border-bottom: 16px solid #ccc; }
.window .roll.down { border-top: 16px solid #ccc; }
.window .roll {
  padding-top: 2px;
  padding-right: 2px;
  float:right;
  width: 0; 
  height: 0; 
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  opacity: 0.5;
}
